.vscode
build/
demos/

# Ignore generated output files in examples
examples/**/*.ll
examples/**/output*.mlir
examples/**/debug.log

# Ignore generated output files in tests
test/*.ll
test/*.txt
test/*.mlir
!test/schedule.mlir
